{% include "header.html" %}

<h1 class = "m-3">My Notes</h1>


{% for i in NoteData %}
    <form method="POST">
        {% csrf_token %}
    <div class=" m-3 card" style="background: #fefbd8;"> 
        <img src="/media/note.png" style="width:90px;" class="card-img-top m-4 mx-auto" alt="..."/>
        <div class="card-body">
        <h5 class="card-title">{{i.title}}</h5>
        <p class="card-text">{{i.content}}</p>
        <div class="container text-center">
            <a href="/deletenote/{{i.id}}" class="btn btn-danger">Delete</a>
            <a href="/updatenote/{{i.id}}" class="btn btn-primary">Update</a>
            <!--<a href="/update/?note_id={{i.id}}" class="btn btn-primary">Update</a>-->
        </div>
        </div>
    </div>
</form>
{% endfor %}